.logo{
    height: 15%;
    width: 15%;
}

body{
    background-color: rgb(24,24,24);
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.topnavbar {
    background-color: rgb(19,137,210);
}

.nav li{
    border: solid rgb(24,24,24);
    width: 49%;
    margin: 0.1%;
    font-size: 150%;
}

button:hover {
    background-color: transparent;
}
  
button:not(:hover){
    background-color: transparent;
}

.moviestatus{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
}

.moviestatus:hover {
    color: white;
    text-decoration: none;
}

.navlogo {
    max-width: 100%;
    height: 75px;
}

.slider {
    position: relative;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movieimage {
    width: 850px;
    height: 450px;
    border-radius: 10px;


}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: rgb(19,137,210);
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: rgb(19,137,210);
    z-index: 10;
    cursor: pointer;
    user-select: none;
}
  
.slide {
    opacity: 0;
    transition-duration: 1s ease;
}
  
.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}
  
.container-dots {
    position: absolute;
    bottom: 2.5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
  
.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #f1f1f1;
    margin: 0 5px;
    background: #f1f1f1;
    transition-duration: 1s ease;
}
.dot.active {
    background: rgb(19,137,210);
    transition-duration: 1s;
    transform: scale(1.08);
}

.bloc-tabs {
    display: flex;
  }

.tabs {   
    padding: 15px;
    text-align: center;
    width: 50%;
    background: rgb(24,24,24);
    box-sizing: content-box;
    outline: none;
    border-left: solid white;
    border-right: solid white;
    border-bottom: solid white;
    border-width: thin;
}

.active-tabs  {
    border: solid rgb(19,137,210);
}

.content {
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
}

.active-content {
    display: block;
} 