.Header {
    background-color: rgb(19,137,210);
    color: white;
    padding: 0.5%;
    text-align: center;
}

.logo{
    height: 15%;
    width: 15%;
}

body{
    background-color: rgb(24,24,24);
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li{
    border: solid rgb(24,24,24);
    width: 49%;
    margin: 0.1%;
    font-size: 150%;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    display: flex;
    animation: marquee 15s linear infinite;
}

@keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-1*800px*5));
    }
}

.card {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    width: 800px;
    height: 500px;
    border-radius: 10px;
    margin-left: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
}

.moviestatus{
    margin-top: 0.6%;
    margin-bottom: 0.4%;
    color: white;
    text-align: center;
}